{
  "presets": [
    "react",
    [
      "env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["> 0.5% in DE"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "react-hot-loader/babel",
    [
      "react-intl",
      {
        "messagesDir": "./src/client/translations/extractedMessages/"
      }
    ]
  ]
}
